<nav class="navigation">
  <ul>
    <li><%= active_link_to 'Home', page_path('home') %></li>
    <li><%= active_link_to 'Articoli', articles_path, active: :exclusive %></li>
    <li><%= active_link_to 'Write your article', new_article_path, active: :exclusive %></li>
  </ul>
</nav>
