.article-comments {
  margin: 30px 0;

  .comments-title {
    font-weight: 400;
    border-bottom: 1px solid #e1e1e1;
    line-height: 40px;
  }

  .comments-show {
    .comment-call {
      font-weight: normal;
      margin: 15px 0 5px;
    }

    .comment-text {
      font-size: 13px;
      margin: 5px 0 10px;
    }
  }

  .comment-form {
    display: none;
  }
}
