.artilces-search {
  width: 750px;
  margin: 0px auto;

  .artilces-search-title {
    float: left;
    padding: 0 40px 0 0;
    line-height: 34px;
  }

  .search-form {
    display: inline-block;
  }
}
