@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,700,300);

h1,h2,h3,h4,h5,h6 {
  font-family: 'Open Sans', sans-serif;
  color: #6b6b6b;
  margin: 15px 0;
}

p {
  font-family: 'Open Sans', sans-serif;
  color: #9d9c9c;
}
